.posts-container {
    width: 100%;
}

.allPosts-container {
    padding: 100px 60px;
    width: 60%;
    min-height: 100vh;
    display: grid;
    row-gap: 45px;
    grid-template: {
        columns: 1fr;
    }  
}

@media screen and (max-width: 1024px) {
    .allPosts-container {
        width: 90%;
        padding: 0;
    }
}