.posts-container {
    width: 100%;
}

.allPosts-container {
    padding: 100px 60px;
    width: 60%;
    min-height: 100vh;
    display: grid;
    row-gap: 45px;
    grid-template: {
        columns: 1fr;
    }  
}
.allPosts-container-dos {
    width: 100%;
    padding: 50px;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template: {
        columns: repeat(auto-fill, minmax(400px, 1fr));
        rows: repeat(auto, 1fr); 
    }  

    h1 {
        font-family: 'Open Sans';
        color: #757575;
    }
}
