.profile-container {
    background: #121212;
    display: flex;
    flex-direction: column;
}

.profile-data {
    height: 300px;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: flex-end;
    
    img {
        cursor: pointer;
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }
}
.data-container { 
    height: 60%;
    display: flex;
    width: 80%;
    margin: 0px auto 0px auto;
}
.profile-info {
    width: 70%;
    height: 100%;
    
    h1{
        margin: 0px 0px 0px 50px;
        color: #757575;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
    }
    
    p {
        color: #757575;
        margin: 20px 0px 0px 50px;
        font-style: 15px;
        font-family: 'Open Sans', sans-serif;

    }
}

.profile-posts-container {
    background: #e5e5e5;
    min-height: 50vh;
}

.profile-button-container {
    width: 50%;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    button {
        min-width: 150px;
    }
}

.profilePosts-grid {
    width: 100%;
    padding: 50px;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template: {
        columns: repeat(auto-fill, minmax(400px, 1fr));
        rows: repeat(auto, .5fr); 
    }  
}

.profilePosts-container {
    min-height: 300px;
    background-color: #e5e5e5;
}

@media screen and (max-width: 500px) {
    .profilePosts-grid {
        padding: 30px 0px;
        grid-template: {
            columns: repeat(auto-fill, minmax(300px, 1fr));
            rows: repeat(auto, .5fr); 
        }  
    }

    .data-container {
        margin: 0px 5px;
    }    
}

@media screen and (max-width: 826px) {
    .profile-data {
        width: 100%;

        img {
            height: 130px;
            width: 130px;
        }
    }

.profile-info {
  min-width: 160px;
  h1 {
      margin-left: 15px;
  }
  p {
      margin-left: 10px;
  }
}
}

@media screen and (max-width: 676px) {

    .profile-button-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    
        button {
            min-width: 145px;
        }
    }

}