.allPosts-container {
    min-height: 500px;
    width: 50%;
    margin: 60px auto 0px auto;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template: {
        columns: repeat(auto-fit, minmax(450px, 1fr));
        rows: repeat(auto, 1fr); 
    }

    h1 {
        font-family: 'Open Sans';
        color: #757575;
    }
}
.allPosts-container-dos {
    min-height: 500px;
    margin: 60px auto 0px auto;
    display: grid;
    width: 65%;
    column-gap: 10px;
    row-gap: 20px;
    grid-template: {
        columns: repeat(auto-fit, minmax(400px, .5fr));
        rows: repeat(auto, 1fr); 
    }  

    h1 {
        font-family: 'Open Sans';
        color: #757575;
    }
}

@media screen and (max-width: 560px ) {

    .allPosts-container {
        width: 100%;
        margin: 20px 0px 0px 0px;

        grid-template: {
            columns: repeat(auto-fit, minmax(350px, 1fr));
            rows: repeat(auto, 1fr); 
        }
    }

    

}