.fullPost-container { 
    min-height: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
}

@media screen and (max-width: 1024px) {
    .fullPost-container {
        padding: 100px 10px;
    }
    
}