.fullPost-container { 
    height: 100vh;
    min-height: 600px;
    background: #e5e5e5;
    display: flex;
}

.fullPost-content-container {
    width: 80%;
    margin: auto;
    display: flex;
   justify-content: center;
}